<header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li>
        <a>
          <img class="home-img" alt="home" src="../../assets/app/home.png" />
        </a>
      </li>
      <li>
        <a>
          <button class="nav-button" nz-button nzType="text">特性</button>
        </a>
      </li>
      <li>
        <a>
          <button class="nav-button" nz-button nzType="text">文档</button>
        </a>
      </li>
      <li>
        <a>
          <button class="nav-button" nz-button nzType="text">资源</button>
        </a>
      </li>
      <li>
        <a>
          <button class="nav-button" nz-button nzType="text">会议</button>
        </a>
      </li>
      <li>
        <a>
          <button class="nav-button" nz-button nzType="text">译者博客</button>
        </a>
      </li>
      <li>
        <a>
          <button class="nav-button" nz-button nzType="text">关于中文版</button>
        </a>
      </li>
    </ul>
  </nav>

  <section class="header-rest">
    <input nz-input class="header-search" placeholder="搜索" />
    <a class="header-icon" href="https://twitter.com/angular" title="Twitter">
      <i nz-icon nzType="twitter" nzTheme="outline"></i>
    </a>
    <a class="header-icon" href="https://github.com/angular/angular" title="Github">
      <i nz-icon nzType="github" nzTheme="outline"></i>
    </a>
  </section>
</header>
