.angular-official {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .app-main {
    display: flex;
    width: 100%;
    height: 100%;

    .app-aside {
      position: relative;
      z-index: 1;
      overflow: auto;

      width: 260px;
      height: 100%;
      margin-right: 20px;
      box-shadow: 5px 0 10px #ccc;
      background-color: white;
    }
  }

  .app-footer {
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1C5BB3;
    color: white;
  }
}
