<nz-table #basicTable [nzData]="listOfPerson">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.name }}</td>
      <td>{{ data.age }}</td>
      <td>{{ data.address }}</td>
      <td>
        <button nz-button nzType="link" (click)="showEditModal()">
          Edit 一 {{ data.name }}
        </button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="link">Delete</button>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal
  nzTitle="修改个人信息"
  [(nzVisible)]="isShowEdit"
  (nzOnCancel)="closeEditModal()"
  [nzOkLoading]="isUpdateLoading"
  (nzOnOk)="updatePersonMessage()"
>
  <p>Modal Content</p>
</nz-modal>
