<aside class="aside">
  <ul nz-menu nzMode="inline">
    <li nz-menu-item routerLink="/documents/brief">简介</li>
    <li nz-submenu nzTitle="快速上手">
      <ul>
        <li nz-menu-item>搭建环境</li>
        <li nz-submenu nzTitle="Angular 的基本概念">
          <ul>
            <li nz-menu-item>基本概念简介</li>
            <li nz-menu-item>模块简介</li>
            <li nz-menu-item>组件简介</li>
            <li nz-menu-item>服务与 DI 简介</li>
            <li nz-menu-item>后续步骤</li>
          </ul>
        </li>
        <li nz-menu-item>Angular 词汇表</li>
        <li nz-menu-item>试一试</li>
      </ul>
    </li>
    <li nz-menu-item>基础知识</li>
    <li nz-menu-item>其他技术</li>
    <li nz-menu-item>开发工作流</li>
    <li nz-menu-item>配置</li>
    <li nz-menu-item>扩展 Angular</li>
    <li nz-menu-item>教程</li>
    <li nz-menu-item>发布信息</li>
    <li nz-menu-item>Angular 的风格与用法</li>
    <li nz-menu-item>CLI 命令参考手册</li>
    <li nz-menu-item>API 参考手册</li>

    <li class="aside-divider"></li>

    <li nz-menu-item class="aside-select">
      <span>互问互答</span>
      <i nz-icon nzType="select" nzTheme="outline"></i>
    </li>
  </ul>
</aside>
